@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
footer {
  background-color: gray;
  display: flex;
  flex-direction: row; }
  footer span {
    color: white;
    align-self: center; }
  footer ul {
    list-style-type: none; }
    footer ul li a {
      color: white;
      text-decoration: none; }
