#layout-footer {
  display: flex;
  justify-content: flex-start;
  background: grey;
  padding: 5px 10px;
  color: white; }
  #layout-footer .footer-nav li {
    list-style: none; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
